<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <div class="container">
        <h2>Create your post</h2>
        <form action="/posts" method="post">
            <input id="content" name="username" placeholder="enter username" type="text" required> <br> <br>
            <textarea id="content" name="content" placeholder="Write text here!!" id="" cols="30" rows="10" required></textarea> <br>
            <button>Submit</button>
        </form>
    </div>
   
</body>
</html>