<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h2>Detailed Post</h2>
    <!-- <h3>Post id:<%= post.id %></h3> -->
    <div class="card">
        <h3 class="userName">@<%= post.username  %></h3> 
        <p class="content"><%= post.content %></p>
        <a class="btn" href="/posts">Go back</a>
    </div>  
</body>
</html>