body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://c8.alamy.com/comp/2APXB14/innovation-technology-for-business-finance-concept-modern-graphic-interface-showing-symbol-of-innovative-ideas-thinking-research-and-development-stu-2APXB14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.514); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    background-color: #4682B4;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainBtn {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #4682B4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #357abd;
}

.content {
    padding: 20px;
}

.content p {
    color: #333;
    line-height: 1.6;
}